.container {
    display: grid;
    /* grid-template-columns: 100px auto 100px; */
    grid-template-columns: 1fr 2fr 1fr;  /* each column takes specified fractions */
    /* or grid-template-columns: repeat(3, 1fr); */ /* each column takes equal fractions */
    grid-template-rows: 50px 50px; /* or grid-template-rows: repeat(2, 50px); */
    /* grid-template: repeat(2, 50px) / repeat(3, 1fr); shorthand for rows and columns */
    grid-gap: 3px;
}